.developers {
  &__link {
    text-decoration: none;
    color: #444444;

    &::after {
      display: block;
      content: "";
      width: 27px;
      height: 34px;
      background-image: url("../img/htmlacademy.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
