.how-it-works {
  &__header {
    font-size: 36px;
    line-height: 36px;
  }

  &__list {
    .no-list;
  }

  &__item {
    font-size: 14px;
    line-height: 18px;
    color: #444444;

    &::before {
      display: block;
      content: "";
      width: 60px;
      height: 60px;
      background-color: #68b738;
      background-position: center;
      background-repeat: no-repeat;
    }

    &:nth-child(1) {
      &::before {
        background-image: url("../img/advantage-leaf@1x.png");
      }
    }

    &:nth-child(2) {
      &::before {
        background-image: url("../img/advantage-powder@1x.png");
      }
    }

    &:nth-child(3) {
      &::before {
        background-image: url("../img/advantage-dining@1x.png");
      }
    }

    &:nth-child(4) {
      &::before {
        background-image: url("../img/advantage-clock@1x.png");
      }
    }
  }
}
