.welcome-block {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;

  &__header {
    font-size: 36px;
    line-height: 36px;
    color: #ffffff;
  }

  &__text {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
  }
}
